page-description {
    .text-large {
        font-size: large;
    }
    .padd-5 {
        padding: 5px;
    }
    .padd-lr-5 {
        padding: 0 5px;
    }
    .overlay {
        background: #ffffff;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }
    .overlay button {
        padding: 20px 10px;
    }
}
