page-score {
    .bigscore {
        margin-top: 5rem;
        font-size: 25rem;
        color: rgb(238, 141, 15); 
    }
    .qote {
        font-size: 3rem;
        font-weight: bold;
        color: blue;
    }
    @media screen and(min-width: 768px) {
        .bigscore {
            font-size: 60rem;
        }
    }
}
