page-pagelist {
  .square-radius {
    border-radius: 5px;
    height: 4.8em;
    font-size: 12px;
    padding: 0 1em;
  }
  .padd-b10 {
    padding-bottom: 10px
  }
  .padd-lr5 {
    padding: 0 5px;
  }
}
