<!--
  Generated template for the PagelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-capitalize>Hukum {{title_bar}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines *ngIf="!child">
    <div *ngFor="let row of datas">
      <button ion-item *ngIf="row['childmenu']!=null" (click)="getChild()">
        <span text-capitalize>{{row.subname}}</span>
      </button>
      <button ion-item *ngIf="row['childmenu']==null" (click)="getTajwid(row.subname)">
        <span text-capitalize>{{row.subname}}</span>
      </button>
    </div>
  </ion-list>
  <!--  child menu show -->
  <ion-list no-lines *ngIf="child">
    <div *ngFor="let row of childm">
      <button ion-item (click)="getTajwid(row.subname)">
        <span text-capitalize>{{row.subname}}</span>
      </button>
    </div>
  </ion-list>
  <div class="bottom-div">
    <ion-grid>
      <ion-row>
        <ion-col col-md-4></ion-col>
        <ion-col col-md-4><img src="assets/imgs/minilogo.png" /></ion-col>
        <ion-col col-md-4></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
